@media (max-width:545px) {
    .header-container{
        height: 600px !important;
        clip-path: none;
    }
    .h-80{
        height: calc( 100% - 86px);
    }
    .bg-instructor{
        background: linear-gradient(0deg, #092828c7 0%, #004555 43.7%, #fff 40%, #fff 100%),url("../img/page-img/pattern.jpg") !important;
    }
    .hidro-cards {
        position: static !important;
    }
    #nosotros {
        padding-top: 6rem !important;
        .img-nos-container img {
            width: 320px;
        }
    }
}

@media (min-width:546px) and (max-width:990px) {
    .bg-instructor{
        background: linear-gradient(0deg, #092828c7 0%, #004555 42%, #fff 40%, #fff 100%),url("../img/page-img/pattern.jpg") !important;
    }
    #nosotros {
        padding-top: 16rem !important;
    }
}

@media (max-width:991px) {
    .nav-item > a:hover {
        transform: none !important;
    }

    .hidro-cards {
        bottom: -18%;
        .hidro-cards-container {
            flex-wrap: wrap;
        }
    }

    #nosotros {
        .img-nos-container {
            order: 2;
        }
        .info-nos {
            margin-bottom: 3rem !important;
        }
    }

    .skills-info {
        order: 2;
    }

    .skills-buttons {
        margin-bottom: 3rem !important;
    }

    .gallery-item {
        width: 70% !important;
    }

    .footer-container {
        max-width: 1200px;
    }

    .teacher-items > ul {
        list-style-position: inside !important;
    }
}
